{% extends "publico/base_publico.html" %} 

{% load static %}

{% block publico-content %}

<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    </div>
    
    <ul class="orbit-container">
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          
          <img data-interchange="[{% static 'img/BANNER AZUL-celular.png' %}, small], [{% static 'img/moto.jpg' %}, medium], [{% static 'img/BANNER AZUL 2000x600.png' %}, large]">
          <div class="centrado">
              <h1  >Una solución<br> muchos beneficios <br> 
              </h1>
              <h4 class="letra">hace que sea más fácil que nunca realizar envíos en línea, <br>obtener cotizaciones, rastrear envíos y más! </h4>
              <!-- <form id="form" name="form" method="get" target="_BLANK" action="https://firstsource.appsiscore.com/app/app-cliente/cons_publica.php?"> 
              
                <div class="input-group input-group-rounded">
                    <input type="search" class="input-group-field" name="GUIA" id="GUIA" placeholder="Rastree su envío..." value="" required="">
                    <div class="input-group-button">
                      <button type="submit" class="button" width="500">🔍 </button> 
                    </div>
                </div>
              </form> -->
              <!-- </div> -->

          </div>
          <figcaption class="orbit-caption"><div class="menu align-center" >
               <a class="button" type="button" data-tooltip tabindex="1" title="Calcula el costo." data-position="top" href="https://express.firstsource.net.co/"> Obtenga una cotización  </a>
          </figcaption>
          </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img data-interchange="[{% static 'img/BANNER AMARILLO-celular.png' %}, small], [{% static 'img/moto.jpg' %}, medium], [{% static 'img/BANNER AMARILLO.png' %}, large]">
          <div class="centrado">
            <h1 >Cumplimiento rápido, <br> amigable y preciso <br>
            </h1>
            <h4 class="letra">Te ofrecemos soluciones logísticas para envíos, <br> paquetes, carga y mercancía a nivel nacional </h4>
          </div>
          <figcaption class="orbit-caption"><div class="menu align-center" >
            <a class="button" type="button" data-tooltip tabindex="1" title="Calcula el costo." data-position="top" href="https://express.firstsource.net.co/">Obtenga una cotización </a>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img data-interchange="[{% static 'img/BANNER ROJO-celular.png' %}, small], [{% static 'img/moto.jpg' %}, medium], [{% static 'img/BANNER ROJO.png' %}, large]">
          
          <div class="centrado">
            <h1 >Envíe como un profesional <br>
            </h1>
            <h4 class="letra">Experimente funciones que ahorran tiempo para crear, <br> administrar y monitorear envíos, y mucho más </h4>
          </div>
          <figcaption class="orbit-caption"><div class="menu align-center" >
            <a class="button" type="button" data-tooltip tabindex="1" title="Calcula el costo." data-position="top" href="https://express.firstsource.net.co/">Obtenga una cotización</a></figcaption>
        </figure>
      </li>
    </ul>
  </div>
  
  
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0">
      <span class="show-for-sr">First slide details.</span>
      <span class="show-for-sr" data-slide-active-label>Current Slide</span>
    </button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Second slide details.</span></button>
  </nav>
</div>

<article class="grid-container">
  <div class="text-center">
    <h4  class="titulo" >Nuestros servicios</h4>
    <hr width="365" >
  </div>
  
  
  
  <div class="grid-x grid-margin-x small-up-1 medium-up-4 large-up-4">
    <div class="cell small-4">
      <div class="image-hover-wrapper">
        <span class="image-hover-wrapper-banner">MENSAJERÍA</span>
        <a href="{% url 'home_app:mensajeria-documentos' %}"><img src="{% static 'img/moto.jpg' %}">
          <span class="image-hover-wrapper-reveal">
            <p>Envíos menor a 5 kilos <br> Ver más<br><i class="fa fa-link" aria-hidden="true"></i></p>
          </span>
        </a>
      </div>
    </div>
    <div class="cell small-4">
      <div class="image-hover-wrapper">
        <span class="image-hover-wrapper-banner">DISTRIBUCIÓN</span>
        <a href="{% url 'home_app:paqueteo' %}"><img src="{% static 'img/paqueteo 1.png' %}">
          <span class="image-hover-wrapper-reveal">
            <p>Envíos entre 6 a 30 kilos <br> Ver más<br><i class="fa fa-link" aria-hidden="true"></i></p>
          </span>
        </a>
      </div>
    </div>
    <!-- <div class="cell small-4">
      <div class="image-hover-wrapper">
        <span class="image-hover-wrapper-banner">CARGA MASIVA</span>
        <a href="{% url 'home_app:servicios-adicionales' %}"><img src="{% static 'img/t7ty7.jpg' %}">
          <span class="image-hover-wrapper-reveal">
            <p>Envíos mayor a 30 kilos <br> Ver más<br><i class="fa fa-link" aria-hidden="true"></i></p>
          </span>
        </a>
      </div>
    </div> -->
    

    
      <div class="cell small-4">
        <div class="image-hover-wrapper">
          <span class="image-hover-wrapper-banner">AEREO</span>
          <a href="{% url 'home_app:servicios-adicionales' %}"><img src="{% static 'img/AEREO .png' %}">
            <span class="image-hover-wrapper-reveal">
              <p>Aeropuerto aeropuerto y punto a punto<br> Ver más<br><i class="fa fa-link" aria-hidden="true"></i></p>
            </span>
          </a>
        </div>
      </div>

      <div class="cell small-4">
        <div class="image-hover-wrapper">
          <span class="image-hover-wrapper-banner">ALMACENAMIENTO</span>
          <a href="{% url 'home_app:servicios-adicionales' %}"><img src="{% static 'img/ALMACENAMIENTO .png' %}">
            <span class="image-hover-wrapper-reveal">
              <p>Inventarios - Alistamiento - Piking - Paking<br> Ver más<br><i class="fa fa-link" aria-hidden="true"></i></p>
            </span>
          </a>
        </div>
      </div>

    </div>
    
  </div>
  <br>
  
  </div>
</div>
   
</article>

<br>
<br>

<!-- <article class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="medium-6 cell small-order-2 medium-order-1">
      <p class="titulo"> ¿Quiénes somos? </p>
      {% for e in object_list %}
      <p class="letra"> {{ e.articulo }} </p> <a href="{% url 'home_app:quienes-somos' %}" > 
      </p>
      <div class="small button-group">
        <a class="button" href="{% url 'home_app:quienes-somos' %}">Ver más</a>
      </div>
      {% endfor %}
    </div>
    <div class="medium-6 cell small-order-1 medium-order-2">
      <img  src="{% static 'img/DSC_0306.JPG' %}">
    </div>
  </div>
</article><br><br>   -->
</div>
<br>  


{% endblock publico-content %}