{% extends "publico/base_publico.html" %} 

{% load static %}

{% block publico-content %}

<div class="callout large primary">
    <div class="text-center">
      <h1>AVISO DE PRIVACIDAD DE PROTECCIÓN DE DATOS PERSONALES</h1>
    </div>
  </div>

  <article class="grid-container">
    <div class="grid-x grid-margin-x" id="content">
      <div class="medium-9 cell">
        <div class="blog-post">
          <h3>Awesome blog post title <small>3/6/2016</small></h3>
          <h5>Datos del responsable del del tratamiento de protección de datos personales </h5>

<p> Razón Social Firstsource S.A.S <br>
    <strong> Domicilio: </strong>Oficina Principal – Bogotá D.C. <br>
    <strong> Dirección:</strong> Diagonal 79a Bis # 53 – 50  <br>
    <strong> Correo Electrónico:</strong> servicio@firstsource.net.co <br>
    <strong> Teléfono: </strong>57 (601) 8903906 <br> <br>

    Para Firstsource S.A.S., internamente el proceso de Servicio al Cliente será la responsable de la atención de peticiones, consultas y reclamos 
    ante la cual el titular de la información puede ejercer sus derechos a conocer, actualizar, rectificar y suprimir el dato y revocar la autorización correspondiente. 
    Firstsource S.A.S., denominada la COMPAÑÍA, conforme a las disposiciones contenidas en la Ley 1581 de 2012, considerada como responsable y/o encargada del tratamiento de 
    datos personales, desarrolla el presente aviso de privacidad y de protección de datos personales, en cuanto a la recolección, almacenamiento, uso, circulación o supresión; que 
    se reciba de los titulares de datos personales, así como la finalidad para la cual han sido recolectados los mismos. Para ello ha desarrollado la política de 
    tratamiento de la datos que podrá ser consultada en la página web www.firstsource.net.co / www.letran.com.co. 
    La COMPAÑIA, respeta la privacidad de los titulares de datos personales que suministren su información, recibiéndola y almacenándola de forma adecuada
    y segura, cumpliendo los controles y procedimientos de seguridad de la información. La COMPAÑIA, recolecta información personal de carácter sensible únicamente 
    si los titulares deciden voluntariamente entregar este tipo de información, reconociendo que su suministro se enmarca dentro de las características habilitadas 
    para tal propósito y las facultades de uso. Los datos se recaudan especialmente para la efectiva prestación de los servicios en los que se enmarca el objeto social 
    de Firstsource S.A.S., cuyas principales actividades corresponden a los servicios postales, servicios de transporte, logística y afines, el cumplimiento de 
    disposiciones legales, compromisos contractuales y de otra índole, el suministro de información sobre las soluciones y canales dispuestos y para el desarrollo 
    de programas de fidelización. Por tanto, la información suministrada no se utilizará, procesará o transferirá más allá de los límites establecidos por la ley 
    y lo consignado en la autorización del titular. Firstsource S.A.S., deja constancia expresa que los datos recolectados corresponden a los efectivamente 
    suministrados por el titular y de él depende la veracidad o calidad de los mismos. La COMPAÑIA, se reserva el derecho a modificar este documento en cualquier 
    momento y sin previo aviso. Toda modificación se realizará con apego a la normatividad legal y la misma entrará en vigencia y tendrá efectos frente a los 
    titulares, desde su publicación en el canal correspondiente. El presente aviso de privacidad rige a partir de su publicación en el 
    sitio web de Firstsource S.A.S.,  www.firstsource.net.co / www.letran.com.co.

    </p>
          <div class="callout">
            <ul class="menu simple">
              <li><a href="#">Author: Mike Mikers</a></li>
              <li><a href="#">Comments: 3</a></li>
            </ul>
          </div>
        </div>


      </div>
      <div class="medium-3 cell" data-sticky-container="">
        <div class="sticky" data-sticky="" data-anchor="content">
          <h4>Doc</h4>
          <ul>
            <li><a href="#">Skyler</a></li>
           
          </ul>

          <h4>Doc</h4>
          <ul>
            <li><a href="#">Skyler</a></li>
            
          </ul>
        </div>
      </div>
    </div>

    
</article>



{% endblock publico-content %}