{% extends "publico/base_publico.html" %} 

{% load static %}

{% block publico-content %}

<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container">
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{% static 'img/NOSTROS_1_.png' %}" alt="Space">
          
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{% static 'img/NOSTROS_2.png' %}" alt="Space">
          
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{% static 'img/NOSTROS_3.png' %}" alt="Space">
         
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{% static 'img/NOSTROS_4.png' %}" alt="Space">
          
        </figure>
      </li>
    </ul>
  </div>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0">
      <span class="show-for-sr">First slide details.</span>
      <span class="show-for-sr" data-slide-active-label>Current Slide</span>
    </button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>
</div>

  <ul class="tabs" data-responsive-accordion-tabs="tabs medium-accordion large-tabs" id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Misión y visión</a></li>
    <li class="tabs-title"><a href="#panel2">Política integral</a></li>
    <li class="tabs-title"><a href="#panel3">Política de seguridad vial</a></li>
    <li class="tabs-title"><a href="#panel4">Certificaciones - Agremiaciones</a></li>
  </ul>

  <div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="panel1">
      <article class="grid-container">
        <div class="grid-x grid-margin-x">
          <div class="medium-6 cell small-order-2 medium-order-1">
            <h3>Misión</h3>
                <p class="subheader">Brindar soluciones logísticas adaptadas a las necesidades de cada uno de nuestros clientes; con estándares de calidad, rentabilidad y sostenibilidad por medio de la administración de los procesos, tecnología y personal altamente capacitado; generando el cumplimiento de la promesa de valor y valor agregado a nuestros aliados.</p>
                <h3>Visión</h3>
                <p class="subheader">Para el año 2025 Firstsource bajo su marca Le-Tran busca ser una empresa innovadora y líder en la operación de logística integral a través de procesos estratégicos de alto nivel, orientados al excelente servicio y experiencia especializada al cliente.</p>
                <h3>Valores Corporativos</h3>
                <p class="subheader">
                  La compañía FIRSTSOURCE SAS busca la excelencia de su servicio al cliente a través de los siguientes valores corporativos:
                </p>
            </div>
            <div class="medium-6 cell small-order-1 medium-order-2">
              <img class="thumbnail" src="{% static 'img/DSC_0106.JPG' %}">
          </div>
        </div>
        <div class="grid-x grid-margin-x">
          <div class="medium-4 cell">
            <li class="subheader">Respeto</li>
            <li class="subheader">Honestidad</li>
            <li class="subheader">Compromiso</li>
          </div>
          <div class="medium-4 cell">
            <li class="subheader">Confidencialidad</li>
            <li class="subheader">Excelencia</li>
            <li class="subheader"> Trabajo en equipo</li>
          </div>
        <div class="medium-4 cell">
    
            <li class="subheader">Flexibilidad</li>
            <li class="subheader">Liderazgo</li>
            <li class="subheader">Orientación al cliente</li> 
        </div>
    
    </article>
      
    </div>
    <div class="tabs-panel" id="panel2">
      <article class="grid-container">
        <div class="grid-x grid-margin-x">
          <div class="medium-6 cell small-order-2 medium-order-1">
           <h3>Política de SGI</h3>
            <p class="subheader">FIRSTSOURCE S.A.S mediante el Sistema de Gestión Integrado (SGI), entrega soluciones logísticas enfocadas en el cumplimiento del servicio a traves de las políticas trabajadas en el Sistema de Gestión de Calidad (SGC), el Sistema de Gestión de Seguridad y Salud en el Trabajo(SG-SST) y el Plan de Seguridad Vial (PESV).
              
              </p>
              
              <li><a href="{% url 'home_app:politica-sgc' %}" ><FONT COLOR="navy">Sistema de Gestión de Calidad (SGC) </FONT></a> </li>
              <li><a href="{% url 'home_app:politica-sgc' %}" ><FONT COLOR="navy">Sistema de Gestión de Seguridad y Salud en el Trabajo (SG-SST) </FONT></a> </li>
              <li><a href="{% url 'home_app:politica-sgc' %}" ><FONT COLOR="navy">PCI-DSS</FONT></a> </li>
            
          </div>
          <div class="medium-6 cell small-order-1 medium-order-2">
            <img class="thumbnail" src="{% static 'img/45.jpeg' %}">
          </div>
        </div>
      
      </article>
      
    </div>
    <div class="tabs-panel" id="panel3">

      <article class="grid-container">
        <div class="grid-x align-center">
          <div class="cell medium-8">
            <div class="blog-post">
              
              
              <p >FIRSTSOURCE S.A.S., consciente de la importancia de la seguridad durante las operaciones de transporte, mantendrá niveles de desempeño en seguridad vial durante el desarrollo de estas, sobre condiciones de vehículos, conductores y demás aspectos relacionados con la operación. Para la compañía., es fundamental promover y mantener prácticas de prevención en riesgos viales, por esto establece su compromiso gerencial implementado el Plan Estratégico de Seguridad Vial y asignando los recursos con el fin de mantener un proceso de mejora continua para minimizar los riesgos de ocurrencia de accidentes de tránsito. Para dar cumplimiento a esta política FISRTSOURCE SAS., se basa en: 
                <li>	Desarrollar actividades de promoción y prevención de accidentes en áreas operativas, en las instalaciones de la empresa y las vías públicas, por ello todos los empleados y contratistas son responsables de participar en las actividades que desarrolla la empresa a fin de evitar la ocurrencia de accidentes viales </li>
                <li>	Cumplir con los objetivos y metas del Plan Estratégico de Seguridad Vial. </li>
                <li>	Cumplir con la reglamentación establecida en el Código Nacional de Tránsito terrestre Ley 769 del 2002 y todas aquellas que se adhieran para la prevención en materia de seguridad vial. </li>
                <li>	Vigilar las responsabilidades propias y de nuestros contratistas en cuanto a mantenimiento preventivo y correctivo, procurando óptimas condiciones de operación a los vehículos. </li>
                <li>	Establecer estrategias de concientización tanto para peatones, pasajeros y conductores hacia el respeto de las normas y señales de tránsito. </li>
                <li>	Contar con personal calificado para operar los vehículos. </li>
                <li>	Todos los conductores y operadores que están al servicio de la empresa deben tener un entrenamiento previo en las políticas de salud, seguridad y medio ambiente. </li>
                <li>	Es obligación de los operadores de vehículos, dar cabal cumplimiento a todas las normas legal vigentes en el territorio nacional, en lo que respecta a transito nacional terrestre automotor, transporté y seguridad vial al igual que portar todos los documentos que la normatividad imponga. </li>
                <li>	Divulgación de la política mediante inducción y reinducción. </li>
                Esta política es enfática en la abstención de conducir en estado de embriaguez o de cansancio; no exceder los límites de velocidad, el uso obligatorio del cinturón de seguridad y de los EPP aplicables en la operación y la prohibición en el uso y manipulación de equipos móviles mientras está el vehículo en marcha. 
                
                Es obligación de los colaboradores dar cumplimiento a todas las normas aplicables en seguridad vial y participar en las actividades que desarrolle la empresa, a fin de disminuir la probabilidad de ocurrencia de accidentes, que puedan afectar la integridad física, mental y social de los colaboradores, contratistas, comunidad en general, la propiedad privada, equipos y el ambiente.
                </p>
              <div class="callout">
                <ul class="menu simple">
                  <li><a href="#">Author: Mike Mikers</a></li>
                  <li><a href="#">Comments: 3</a></li>
                </ul>
              </div>
            </div>
          </div>
      
        
        </div></article>

      
      
    </div>
    <div class="tabs-panel" id="panel4">
      <article class="grid-container">
        <div class="grid-x grid-margin-x">
          <div class="medium-6 cell small-order-2 medium-order-1">
           <h4>AGREMIACION FENALCO</h4>
            <p class="subheader">FIRSTSOURCE S.A.S bajo su marca Le-Tran pertenece a la agremiación de mensajeria expresa de la FEDERACIÓN NACIONAL DE COMERCIANTES - FENALCO
              siendo participe de las mesas de trabajo, formación del sector y representación. 
              
              </p>
              <!-- <li><a href="{% url 'home_app:politica-sgc' %}" ><FONT COLOR="navy">Sistema de Gestión de Calidad (SGC) </FONT></a> </li>
              <li><a href="{% url 'home_app:politica-sgc' %}" ><FONT COLOR="navy">Sistema de Gestión de Seguridad y Salud en el Trabajo (SG-SST) </FONT></a> </li>
              <li><a href="{% url 'home_app:politica-sgc' %}" ><FONT COLOR="navy">PCI-DSS</FONT></a> </li> -->
            
          </div>
          <div class="medium-6 cell small-order-1 medium-order-2">
          <center>  <a href="https://www.fenalco.com.co"> <img class="thumbnail" src="{% static 'img/FENALCO.jpg' %}" width="150" alt="50" ></a></center>
          </div>
          <div class="medium-6 cell small-order-2 medium-order-1">
            <h4>CERTIFICACIÓN PCI-DSS</h4>
             <p class="subheader">Actualmente la compañia se encuentra certificada bajo el estándar de seguridad de datos para la industria de tarjeta de pago dando cuplimiento a los requisitos de la norma PCI-DSS 
               
               </p>
               <!-- <li><a href="{% url 'home_app:politica-sgc' %}" ><FONT COLOR="navy">Certificado PCI </FONT></a> </li> -->
               
           </div>
           <div class="medium-6 cell small-order-1 medium-order-2">
            <center> <a href="{% static 'img/documentos/FIRCO22092021 (3).pdf' %}"> <img class="thumbnail" src="{% static 'img/LogoC-Grande.png' %}" width="150" alt="50" ></a> </center>
           </div>
        </div>
      
      </article>
      
    </div>
    <div class="tabs-panel" id="panel5">
      <p>five</p>
      <p>Check me out! I'm a super cool Tab panel with text content!</p>
    </div>
    <div class="tabs-panel" id="panel6">
      <p>six</p>
      <img class="thumbnail" src="assets/img/generic/rectangle-8.jpg">
    </div>
  </div>
    
  


<div class="news-image-gallery-container">
  <div class="row">
    <div class="small-6 medium-6 large-1 columns">
      <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
        <ul class="orbit-container">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
          <li class="is-active orbit-slide">
            <img class="orbit-image" src="{% static 'img/CLIENTES 1.png' %}" alt="12">
            
          </li>
          <li class="is-active orbit-slide">
              <img class="orbit-image" src="{% static 'img/CLIENTESs 2.png' %}" alt="12">
            </li>
        </ul>
        
        <nav class="orbit-bullets">
          <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
          <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
          <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
          
        </nav>
      </div>
    </div>
  </div>
</div>


    
  
  


{% endblock publico-content %}