{% extends "publico/base_publico.html" %} 

{% load static %}

{% block publico-content %}

 <h3 class="text-center">NUESTRAS OFICINAS

 </h3> 
    <p class="text-center" >Diseñamos soluciones de logística integral en Mensajería expresa y paqueteo  a su medida con presencia <br>
        competitiva en los diferentes sectores económicos y con amplio  cubrimiento nacional.
    </p>
    <!-- <center><img src="{% static 'img/sede.gif' %}" alt="200" width="700" ></center>
        


<article class="grid-container">

<div class="grid-x grid-margin-x">
    <div class="medium-4 cell">
      <h4>BOGOTÁ</h4>
      <p class="subheader">
        Sede Principal <br>
        Dg. 79a bis # 53-50<br>
        Barrio Gaitán (111211)  <br>
        (+57) (1) 8903906 <br>   
        (+57) (302) 2456704   
      </p>
    </div>

    <div class="medium-4 cell">
      <h4>BOGOTÁ</h4>
      <p class="subheader">
        Sede Paqueteo <br>
        Barrio Gaitán (111211)  <br>
        (+57) (1) 8903906 <br>
        (+57) (302) 2456704 <br>
      </p>
    </div>

    <div class="medium-4 cell">
      <h4>MEDELLÍN</h4>
      <p class="subheader">
        Calle 2A # 2 - 76 Edificio Rayda <br>
        Barrio el Peñon (760044) <br>
        (+57) (1) 8903906 <br>
        (+57) (302) 3470535 <br>
      </p>
    </div>
    <div class="medium-4 cell">
      <h4>CALI</h4>
      <p class="subheader">
        Calle 2A # 2 - 76 Edificio Rayda <br>
        Barrio el Peñon (760044) <br>
        (+57) (1) 8903906 <br>
        Teléfono: +571 8903906</p>
    </div>
    <div class="medium-4 cell">
        <h4>BARRANQUILLA</h4>
        <p class="subheader">
          Calle 55 # 43-13 oficina 210 <br>
          Código Postal: (080002) <br>
          (+57) (1) 8903906 <br>
          (+57) (302) 3470535 <br>
        </p>
      </div>
      <div class="medium-4 cell">
        <h4>FLORIDABLANCA</h4>
        <p class="subheader">
          Cr 8 # 8 - 23 oficina 201 Edificio Villa Amparo. <br>
          Casco antiguo Floridablanca (681003) <br>
          (+57) (1) 8903906 <br>
          (+57) (302) 3470535 <br>
        </p>
      </div>
      <div class="medium-4 cell">
        <h4>PEREIRA</h4>
        <p class="subheader">
          AV 30 de Agosto  46-79  Local  3 
          Código Postal: (681003)
          (+57) (1) 8903906
          (+57) (302) 3470535
        </p>
      </div>
      <div class="medium-4 cell">
        <h4>CARTAGENA</h4>
        <p class="subheader">
          Calle 30d # 68 – 15 Edificio Latitud 13 oficina 401 <br>
          Urbanización Villa Sandra Mz A Lote 4 (130011) <br>
          (+57) (1) 8903906 <br>
          (+57) (302) 3470535 <br>
        </p>
      </div>

      
  </div>
  
</article> -->

<article class="grid-container">

<div class="grid-x grid-margin-x">
  <div class="medium-6 cell small-order-2 medium-order-1">
    <ul class="accordion" data-accordion data-allow-all-closed="true"> 
      <li class="accordion-item is-active" data-accordion-item>
        <a href="#deeplink1" class="accordion-title">BOGOTÁ Sede Principal</a>
        <div class="accordion-content" data-tab-content id="deeplink1">
          <p class="subheader">
            Dg. 79a bis # 53-50<br>
            Barrio Gaitán (111211)  <br>
            (+57) (1) 8903906 <br>   
            (+57) (302) 2456704   
          </p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#deeplink2" class="accordion-title">BOGOTÁ Sede Paqueteo</a>
        <div class="accordion-content" data-tab-content id="deeplink2">
          <p class="subheader">
          Sede Paqueteo <br>
          Barrio Gaitán (111211)  <br>
          (+57) (1) 8903906 <br>
          (+57) (302) 2456704 <br>
        </p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#deeplink3" class="accordion-title">MEDELLÍN</a>
        <div class="accordion-content" data-tab-content id="deeplink3">
          <p class="subheader">
            Panel 3. Lorem ipsum dolorCalle 2A # 2 - 76 Edificio Rayda <br>
            Barrio el Peñon (760044) <br>
            (+57) (1) 8903906 <br>
            (+57) (302) 3470535 <br>div>
          </p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#deeplink3" class="accordion-title">CALI</a>
        <div class="accordion-content" data-tab-content id="deeplink3">
          <p class="subheader">
          Calle 2A # 2 - 76 Edificio Rayda <br>
          Barrio el Peñon (760044) <br>
          (+57) (1) 8903906 <br>
          Teléfono: +571 8903906
          </p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#deeplink3" class="accordion-title">BARRANQUILLA</a>
        <div class="accordion-content" data-tab-content id="deeplink3">
          <p class="subheader">
          Calle 55 # 43-13 oficina 210 <br>
          Código Postal: (080002) <br>
          (+57) (1) 8903906 <br>
          (+57) (302) 3470535 <br>
          </p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#deeplink3" class="accordion-title">FLORIDABLANCA</a>
        <div class="accordion-content" data-tab-content id="deeplink3">
          <p class="subheader">
          Cr 8 # 8 - 23 oficina 201 Edificio Villa Amparo. <br>
          Casco antiguo Floridablanca (681003) <br>
          (+57) (1) 8903906 <br>
          (+57) (302) 3470535 <br>
          </p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#deeplink3" class="accordion-title">PEREIRA</a>
        <div class="accordion-content" data-tab-content id="deeplink3">
          <p class="subheader">
            AV 30 de Agosto  46-79  Local  3 <br>
            Código Postal: (681003) <br>
            (+57) (1) 8903906 <br>
            (+57) (302) 3470535
          </p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#deeplink3" class="accordion-title">CARTAGENA</a>
        <div class="accordion-content" data-tab-content id="deeplink3">
          <p class="subheader">
          Calle 30d # 68 – 15 Edificio Latitud 13 oficina 401 <br>
          Urbanización Villa Sandra Mz A Lote 4 (130011) <br>
          (+57) (1) 8903906 <br>
          (+57) (302) 3470535 <br>
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="medium-6 cell small-order-1 medium-order-2">
   <img src="{% static 'img/MAPA2.png' %}"  width="450" >
  </div>
</div>


</article>

{% endblock publico-content %}