{% extends "publico/base_publico.html" %} 

{% load static %}

{% block publico-content %}

<div class="medium-6 cell small-order-1 medium-order-2 " >
  <img  src="{% static 'img/con-truck.jpg' %}" width="1800" alt="500">
  <div class="centrado">
    <br><br><br>
    <div class="translucent-form-overlay">
      <form>
        <h3>Contactanos</h3>
        <div class="row columns">
          <label>Nombre
            <input type="text" name="keyword" placeholder="Any">
          </label>
        </div>
        <div class="row columns">
          <label>Mail
            <select name="status" type="text">
              <option>Any</option>
              <option value="rent">Rent</option>
              <option value="buy">Buy</option>
            </select>
          </label>
        </div>
        <div class="row columns">
          <label>Ciudad
            <select name="status" type="text">
              <option>Any</option>
              <option value="office">Office</option>
              <option value="building">Building</option>
            </select>
          </label>
        </div>
        <div class="row columns">
          <label>Telefono
            <input type="text" name="location" placeholder="Any">
          </label>
        </div>
        <div class="row">
          <label class="columns small-12">Déjanos tu mensaje</label>
          <div class="columns small-6">
            <input type="number" min="0" name="min" placeholder="Min">
          </div>
          <div class="columns small-6">
            <input type="number" min="0" name="max" placeholder="Max">
          </div>
        </div>
        <button type="button" class="primary button expanded search-button">
          Guardar
        </button>
     </form>
    </div>
  </div>
</div>


{% endblock publico-content %}