{% extends "publico/base_publico.html" %} 

{% load static %}

{% block publico-content %}

<div class="grid-x">
  <div class="cell"><img  data-interchange= "[{% static 'img/Fondos de Pantalla Nueva York.jpg' %}, small], [{% static 'img/moto.jpg' %}, medium], [{% static 'img/pexels-santiago-boada-7613843.jpg' %}, large]">
    <!-- <div class="centrado"><h5>Conoce lo que necesitas para abrir un centro de servicio</h1></div> -->
      <div class="centrado-contacto2">
        <div class="callout secondary">
          <h5>Hablanos de tu negocio</h5>
          <p>Diligencia nuestro formulario de contacto para recibir una atencíon personalizada por parte de nuestro equipo comercial</p>  
        </div>
      </div>
    <div class="centrado-contacto">
      <div class="translucent-form-overlay">
        <form  method="POST">{% csrf_token %}
          <h3>Contacto</h3>
    
    
      <div class="cell small-6" id="example1" data-something="" data-mutate="v5xmob-sticky">
        
          <label>Nombre:
          <div class="input-group">       
            {{form.nombre}}
          </label>
          </div>
      </div>
      <div class="row columns">
          <label>Mail:</label>
          <div class="input-group">       
            {{form.mail}}
          </div>
      </div>
      <div class="row columns">
          <label>Ciudad:</label>
          <div class="input-group">       
            {{form.ciudad}}
          </div>
      </div>
      <div class="row columns">
        <label>Empresa:</label>
        <div class="input-group">       
          {{form.empresa}}
        </div>
    </div>
    <div class="row columns">
        <label>Telefono:</label>
        <div class="input-group">       
          {{form.telefono}}
        </div>
    </div>
    
    <div class="row columns">
        <label>Déjanos tu mensaje</label>
        <div class="input-group">       
          {{form.observacion}}
        </div>
    </div>
    <div class="row columns">
      <label>He leido y acepto la politica de tratamiento de datos <a href="{% url 'home_app:politica-t-datos' %}" ><FONT COLOR="navy">Ver </FONT></a></label>
      <div class="input-group">       
        {{form.aceptar}}
      </div>
  </div>
    <div class="row columns">
      <button type="submit" class="button" style="width: 200px;">Guardar</button>
    
    </div>
    </form>
    </div>
      </div>
      
      
      </div>
    </div>
    
    </div>
    
      </div>
      
      
      

  </div>
  </div>
  
</div>


{% endblock publico-content %}