{% extends "base.html" %} 

{% load static %}

{% block content %}

  <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title">Menu</div>
  </div>
  
  <div class="top-bar" id="responsive-menu">
    <a href="{% url 'home_app:publico' %}"> <img src="{% static 'img/colores letran +.png' %}"  alt="10" width="145"> </a>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>

          

          <li class="has-submenu">
            <a href="{% url 'home_app:quienes-somos' %}"><strong>Nuestra empresa</strong> </a>
          </li>
        
          <li class="has-submenu">
            <a href="#0"><strong>Servicios</strong> </a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="{% url 'home_app:mensajeria-documentos' %}">Mensajeria expresa</a></li>
                <li><a href="{% url 'home_app:paqueteo' %}">Cargue paqueteo</a></li>
                <li><a href="{% url 'home_app:servicios-adicionales' %}">Servicios adicionales</a></li>
                <li><a href="{% static 'img/Tarifarios.pdf' %}">Tarifas</a></li>
            </ul>      
        </li>
        <li class="has-submenu">
          <a href="https://express.firstsource.net.co/"><strong>Cotizar</strong> </a>
        </li>
        
        
        
        <li class="has-submenu">
          <a href="{% url 'home_app:sedes' %}"><strong>Sedes</strong> </a>
        </li>

        <li class="has-submenu">
          <a href="#0"><strong>Ingresar</strong> </a>
          <ul class="submenu menu vertical" data-submenu>
            <li><a href="https://firstsource.appsiscore.com/app/app-cliente/">Express y paqueteo</a></li>
            <li><a href="https://190.24.11.51/openc3/">Financiero</a></li>
          </ul>
        </li>
        <li class="menu-button" role="none">
          <div class="reveal" id="exampleModal1" data-reveal>
          <p class="text-center"><iframe src="https://express.firstsource.net.co/tk1/" width="500"></iframe></p>
        </div>
      </div>
  </div>
 
                        {% block publico-content %}
                        {% endblock publico-content %}
                        

              <footer class="marketing-site-footer">
                          
                  <article class="grid-container">
                          <div class="grid-x grid-margin-x">
                              <div class="medium-6 cell small-order-2 medium-order-1">
                                <h4>Centro de ayuda</h4>
                                <li><a href="{% url 'home_app:cumplimiento' %}">Cumplimiento</a></li>
                                <li><a href="{% url 'pqr_app:pqr' %}">PQR´s</a></li>
                                <li><a href="{% url 'pqr_app:contacto-letran' %}">Contacto</a></li>
                                <li><a href="https://www.computrabajo.com.co/empresas/ofertas-de-trabajo-de-firstsource-sas--9034974DB9E805BA">Trabaje con nosotros</a></li>
                              </div>
                              
                              
                                <div class="medium-6 cell small-order-1 medium-order-2">
                                  <br>
                                  <img class="thumbnail" src="{% static 'img/LETRAN NEGRO.PNG' %} " width="250">
                                </div>
                                
                          </div>
       
                  </article>
                          <div class="marketing-site-footer-bottom">
                            <div class="row large-unstack align-middle">
                              <p class="text-center">© Letran, 2022.</p>
                                <ul class="menu marketing-site-footer-bottom-links">
                                  <li ><a href="{% url 'home_app:politica-t-datos' %}">Politica de privacidad</a></li>
                                  <li><a href="{% url 'home_app:terminos-condiciones' %}">Terminos y condiciones</a></li>
                                  <img src="{% static 'img/MINITIC.png' %}" alt="20" width="110">
                                  <img src="{% static 'img/MINTRANSPORTE.png' %}" alt="20" width="110">
                                </ul>
                              </div>
                            </div>
                </footer>

 
  {% endblock content %}