{% extends "publico/base_publico.html" %} 

{% load static %}

{% block publico-content %}
<div class="callout large primary">
    <div class="text-center">
      <h1>Documentos legales</h1>
      <h2 class="subheader"></h2>
    </div>
  </div>

<article class="grid-container">
    <div class="grid-x align-center">
      <div class="cell medium-8">
        <div class="blog-post">
          <p>La sigueinte docuemntacion  es base para comunicar a las partes interesadas los requerimientos legales de los servivios prestados por FIRSTSOURCE
            bajo su marca Le-Tran <p>
          
          <ol>
          <li><a href="{% static 'img/documentos/BROCHURE.pdf' %}" ><FONT COLOR="navy">Brochure de servicios </FONT></a> </li>
          <li><a href="{% static 'img/documentos/Decreto1377 de 2013.pdf' %}" ><FONT COLOR="navy">Decreto 1317 de 2013  </FONT></a> </li>
          <li><a href="{% static 'img/documentos/GJU-JC-FOR-05 Contrato de prestación de servicios.pdf' %}" ><FONT COLOR="navy">GJU-JC-FOR-05 Contrato de prestación de servicios</FONT></a> </li>
          <li><a href="{% static 'img/documentos/GJU-JC-POL-01 Politica de tratamiento de datos.pdf' %}" ><FONT COLOR="navy">GJU-JC-POL-01 Política de tratamiento de datos</FONT></a> </li>
          <li><a href="{% static 'img/documentos/LEY 1369 de 2009.pdf' %}" ><FONT COLOR="navy">Ley 1369 de 2009</FONT></a> </li>
          <li><a href="{% static 'img/documentos/ley 1581 2012.pdf' %}" ><FONT COLOR="navy">Ley 1581 2012 </FONT></a> </li>
          <li><a href="{% static 'img/documentos/OEX-EX-POL-001 Politica de objetos de prohibido transporte.pdf' %}" ><FONT COLOR="navy">OEX-EX-POL-001 Política de objetos de prohibido transporte</FONT></a> </li>
          <li><a href="{% static 'img/documentos/PQR-SC-INS-01 PQR`s e indemnizaciones.pdf' %}" ><FONT COLOR="navy">PQR-SC-INS-01 PQR`s e indemnizaciones </FONT></a> </li>
          <li><a href="{% static 'img/documentos/Resolución 3038 de 2011.pdf' %}" ><FONT COLOR="navy">Resolución 3038 de 2011</FONT></a> </li>
          <li><a href="{% static 'img/documentos/Resoluciòn 3095 de 2011.pdf' %}" ><FONT COLOR="navy">Resoluciòn 3095 de 2011</FONT></a> </li>
          <li><a href="{% static 'img/documentos/SSV-SG-POL-001 Politica de seguridad vial.pdf' %}" ><FONT COLOR="navy">SSV-SG-POL-001 Politica de seguridad vial</FONT></a> </li>
        </ol>
          
        </div>
      </div>
  
        
          
    </div></article>

{% endblock publico-content %}